*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;

}
h2 {
    margin: 10px;
    text-align: center;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-family: "times new roman", Times, serif;
    margin-left: 130px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}  
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    color: #555;
}
p {
    text-align: center;
    margin: 10px;
    color: #333;
    position: relative;
    font-size: 16px;
    top: 0;
}
.booking-p {
    background-color: rgba(255, 255, 255, 0.938);
    padding: 0px;
    border-radius: 20px;
}
/* Header Full Width */
header {
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Navbar Flex */
.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

/* Menu Horizontal */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Link Style */
.nav-menu a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #0066ff;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: 150px;
    top: 25px;
    left: 0;

    list-style: none;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.dropdown-menu li a {
    display: block;
    padding: 8px 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* User Icon */
.user-icon {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
